<div class="ui-fluid register-page-cover">
  <div class="ui-g">
    <div class="ui-sm-12 ui-md-6 ui-md-offset-3 ui-lg-4 ui-lg-offset-4 ui-xl-4 ui-xl-offset-4">
      <p-messages [(value)]="msgs"></p-messages>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <p-panel>
          <p-header>
            Bitte registriere dich
          </p-header>
          <div class="ui-input-field">
            <div class="ui-inputgroup">
              <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
              <input formControlName="username" type="text" pInputText placeholder="Nutzername">         
            </div>
          </div>
          <div class="ui-input-field">
            <div class="ui-inputgroup">
              <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
              <input formControlName="firstName" type="text" pInputText placeholder="Vorname"> 
            </div>
          </div>
          <div class="ui-input-field">
            <div class="ui-inputgroup">
              <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
              <input formControlName="lastName" type="text" pInputText placeholder="Nachname"> 
            </div>
          </div>
          <div class="ui-input-field">
            <div class="ui-inputgroup">
              <span class="ui-inputgroup-addon"><i class="fa fa-envelope"></i></span>
              <input formControlName="email" type="text" pInputText placeholder="Email"> 
            </div>
          </div>
          <div class="ui-input-field">
            <div class="ui-inputgroup">
              <span class="ui-inputgroup-addon"><i class="fa fa-key"></i></span>
              <input formControlName="password" type="password" pInputText placeholder="Passwort">         
            </div>
          </div>
          <p-footer>
            <div class="ui-button-group-right">
              <p-button [disabled]="registerForm.invalid" type="submit" label="Registrieren"></p-button>
            </div>
          </p-footer>
        </p-panel>
      </form>
    </div>
  </div>
</div>
